<h1>Login</h1>
<app-dialog-alert [message]="errorMessage"></app-dialog-alert> <!-- Use dialog-alert.component -->
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label>Email</label>
  <input formControlName="email" type="email" />
  <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
    <p class="error">Email is required and must be valid.</p>
  </div>

  <label>Password</label>
  <input formControlName="password" type="password" />
  <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
    <p class="error">Password is required.</p>
  </div>

  <button type="submit">Login</button>
</form>
