mat-card {
  margin: 15px auto;
  padding: 15px;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

mat-card-header {
  font-size: 1.2em;
  font-weight: bold;
}

p {
  text-align: center;
  color: #666;
  margin-top: 20px;
}


mat-card-actions {
  display: flex;
  justify-content: flex-end;
}
.mat-button{
  border: 1px solid black;
  color: black;
  background-color: aquamarine;
}