mat-card {
  margin: 15px auto;
  padding: 15px;
  max-width: 600px;
  background-color: rgb(99, 100, 101);
  box-shadow: 0 4px 8px rgba(239, 237, 237, 0.984);
  height:auto;
}

mat-card-header {
  font-size: 1.2em;
  font-weight: bold;
}

p {
  text-align: center;
  
  color: #d5cfcf;
  margin-top: 20px;
}


mat-card-actions {
  display: flex;
  justify-content: flex-end;
}
.mat-button{
  border: 1px solid black;
  color: rgb(226, 193, 193);
  background-color: aquamarine;
}

