<!-- Navigation Bar -->
<nav>
  <ul>
    <li><a routerLink="/my-profile" *ngIf="isLoggedIn">My profile</a></li>

    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/login" *ngIf="!isLoggedIn">Login</a></li>
    <li><a routerLink="/register" *ngIf="!isLoggedIn">Register</a></li>
    <li><a routerLink="/dashboard" *ngIf="isLoggedIn">Dashboard</a></li>
    <li><button (click)="logout()" *ngIf="isLoggedIn">Logout</button></li>
  </ul>
</nav>





<!-- Main Content -->
<main>
  
  <router-outlet></router-outlet>
</main>

<!-- Footer -->
<footer>
  <mat-slide-toggle>Toggle me!</mat-slide-toggle>

  <p>&copy; 2024 Blog App</p>
</footer>
