<!-- Navigation Bar -->
<nav>
  <ul>
    <li><a routerLink="/profile" *ngIf="isLoggedIn">My profile</a></li>
   <li><a routerLink="/create" *ngIf="isLoggedIn">
      Create New Post
    </a></li>
    <li><a routerLink="/login" *ngIf="!isLoggedIn">Login</a></li>
    <li><a routerLink="/register" *ngIf="!isLoggedIn">Register</a></li>
    <li><a routerLink="/dashboard" *ngIf="isLoggedIn">Dashboard</a></li>
    <li><a (click)="logout()" *ngIf="isLoggedIn">Logout</a></li>
  </ul>
</nav>





<!-- Main Content -->
<main>
  
  <router-outlet></router-outlet>
</main>

<!-- Footer -->
<footer>
  

  <p>&copy; 2024 Blog App</p>
</footer>
